@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
            <ul>
                <li><a href="/Home/TestException" target="_blank">全局异常捕获</a></li>
                <li><a href="/Home/News" target="_blank">使用分布视图加载分页测试</a></li>
            </ul>  
        </div>
        
      
    </body>
</html>